<% if flash[:request_success] %>
  <article class="message is-success">
    <div class="message-header">
      <p> <%= flash[:request_success] %> </p>
      <button class="delete" aria-label="delete"></button>
    </div>
  </article>
<% end %>

<div class="columns"> 
  <div class="column is-two-thirds" id="profile_body">
    <h1> Welcome, <%= @username %> </h1>
    <%= image_tag @avatar, :class => "pfp", :id => "profile_pic" %>
    <%= render "update_profile_picture" if current_user == @user %>
    <%= button_to "Friend", send_request_path(current_user.id, @user.id), :remote => true, 
        :id => "friend_button" unless @requested_or_friended %>
    <%= button_to "Message", message_path(@user.id), :method => "get" %>
      
    <p> Friends: <%= @friends.count %> </p>
    
    <!-- @user is the profile owner -->
    <!-- form for setting user info like college and major --> 
    <% if current_user == @user %>
      <%= render :partial => "layouts/update_user", :locals => {:user_id => current_user.id} %>
    <% end %>
      
    <%= render :partial => "layouts/user_info", :locals => {:user_id => @user.id} %>

    <% if current_user == @user %> 
      <button id="change_college_info">Update </button>
    <% end %>
    
    <%= button_to "Log out", destroy_user_session_path, :method => :delete, :id => "logout" %>
    
    <%= javascript_pack_tag "profile" %>
  </div>

  <div class="column is-one-third">
    <h1>Friends</h1>
    <% if @friends.empty? %> 
      <p> <%= @username %> got none ahh </p>
    <% end %>

    <div id="friend_list">
      <% @friends.each do |friend| %> 
        <%= render :partial => "layouts/friend_card", :locals => {:friend_id => friend.id} %>
      <% end %>
    </div>

    <% if @user == current_user %>
      <h1> People to Check Out</h1>
      <% @people_to_check_out.each do |person| %> 
        <%= render :partial => "layouts/friend_card", :locals => {:friend_id => person.id} %>
      <% end %>
    <% end %> 
  </div>
</div>



<section class="cardRow">

  <div class="avatar-container">
    <div class="avatar-information">
      <div class="avatar-name">
        <!--           username -->
        <h1> Welcome, <%= @username %> </h1>
      </div>
      <div class="avatar-image">
        <!--           pfp image -->
        <%= image_tag @avatar, :id => "user-profile-image"%>
      </div>
      <!--         # of friends-->
      <div class="function-button-container">
        <div class="avatar-button-container">
          <a href="settings.html"><button class="avatar-button" id="settings">Settings</button></a>
        </div>
        <div class="avatar-button-container">
          <%= button_to "Log out", destroy_user_session_path, :method => :delete, :id => "logout", :class => "avatar-button" %>
        </div>
      </div>
    </div>
  </div>

  <div class="tinder">
    <div class="tinder--status">
      <i class="fa fa-remove"></i>
      <i class="fa fa-heart"></i>
    </div>
    <div class="tinder--cards">
      <div class="tinder--card">
        <img src="https://placeimg.com/600/300/people">
        <h3>Demo card 1</h3>
        <p>This is a demo for Tinder like swipe cards</p>
      </div>
    </div>

    <div class="tinder--buttons">
      <button id="nope"><i class="fa fa-remove"></i></button>
      <button id="love"><i class="fa fa-heart"></i></button>
    </div>
  </div>
  <!-- content for friends list -->
  <div class="friends-container">
    <div class="friends-information">
      <div class="friends-list">
        <h1>Friends List</h1>
      </div>
      <div class="friends-list-container">
        <% @friends.each do |friend| %> 
          <%= render :partial => "layouts/friend_card", :locals => {:friend_id => friend.id} %>
        <% end %>
      </div>
    </div>
  </div>

</section>


<%#= javascript_pack_tag "collegeForm" %>
<%= javascript_pack_tag "profile" %>
<%= stylesheet_link_tag "profile" %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"
    integrity="sha512-qRj8N7fxOHxPkKjnQ9EJgLJ8Ng1OK7seBn1uk8wkqaXpa7OA13LO6txQ7+ajZonyc9Ts4K/ugXljevkFTUGBcw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
