<section class="body">
  <div class="login-container">
    <div class="login-image">
    <img class="logo" src="https://www.webwise.ie/wp-content/uploads/2015/09/tinder.png"/>
    </div>
    <div class="welcome-container">
      <h1>Welcome Back!</h1>
    </div>
    <div class="form-container">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>
      
        <div class="field">
          <%= f.password_field :password, placeholder: "Password" %>
        </div>
      
        <div class="">
          <%= f.submit "Log In" %>
        </div>
        <div class= "dont-have-an-account-container">
          <%= link_to "Don't have an account?", "/users/sign_up", :class => "dont-have-an-account" %>
        </div>

        <a class="home-button-container" href=<%= root_path %>>
          <img id="home-button" src="https://icon-library.com/images/home-logo-icon/home-logo-icon-0.jpg"/>
        </a>
      <% end %>

      
    </div>
  </div>
</section>


<% content_for :custom_styles do %>
  <%= stylesheet_link_tag "login" %>
<% end %>
  
  

